@import url("https://fonts.googleapis.com/css?family=Inter");
@import url("https://fonts.googleapis.com/css?family=Rubik");

:root{
    --background-color: #212226;
    --dark-blue: #3E54D3;
    --medium-blue: #4F80E2;
    --light-blue: #13b1e6;
    --box-bg: rgb(62,84,211);
    --box-grad: linear-gradient(90deg, rgba(62,84,211,1) 22%, rgba(79,128,226,1) 58%, rgba(19,177,230,1) 93%); 
    --error-bg:rgb(255,108,0);
    --error-grad: linear-gradient(90deg, rgba(255,108,0,1) 14%, rgba(255,143,0,1) 50%, rgba(255,156,0,1) 93%);
}

body,html {
    height:100%;
    background-color: var(--background-color);
}

h1,h2,h3,p,a{
    color:whitesmoke
}
h1,h2,h3{
    font-family: "Rubik";
}
p,a{
    font-family: "Inter";
}


.flex{
    display: flex;
    margin: 15px;
}
.center {
    justify-content: center;
}



input{
    background-color: whitesmoke;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border:0;
    outline: 0;
    transition:0.2s;
    font-family: "Inter";
}
input::placeholder{
    color: black;
    opacity: 1; 
    transition: 0.2s;
}
input:focus {
    background-color: var(--dark-blue);
    color:whitesmoke;
    outline: 0;
}
input:focus::placeholder {
    background-color: var(--dark-blue);
    color:whitesmoke;
}
input[type="submit"]{
    color:whitesmoke;
    font-weight: bold;
    background-color: var(--dark-blue);
    padding: 10px;
}
input[type="submit"]:hover{
    background-color: var(--light-blue);
    color:black;
}



.box{
    text-align: center;
    background: var(--box-grad);
    padding:25px;
    margin:10px;
    border-radius: 15px;
    transition: 0.1s;
}
.box:hover{
    cursor: pointer;
    font-size: large;
}
#archive-box a{
    text-decoration: none;
    transition: 0.4s;
}



.error{
    text-align: left;
    background: var(--error-grad);
    padding:15px;
    border-radius: 10px;
}
.error p{
    color: black;
    font-weight: 700;
}


.nav{
    display: block;
    position: absolute;
    width: fit-content;
    right: 0;
    bottom:0;
}
.navbox{
    font-weight: bold;
    display:inline;
    float:left;
    text-align: center;
    background: var(--dark-blue);
    padding:15px;
    margin:10px;
    border-radius:100px;
    transition: 0.1s;

}
.navbox:hover{
    background-color: var(--light-blue);
}
.navbox a{
    text-decoration: none;
}
.navbox:hover a{
    color:black;
}