<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storage Unit - archives</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <%- include("../partials/nav"); %>
    <div class="flex center">
        <div id="intro">
            <h1>List of archives</h1>
            <p style="text-align: center;"><i>Click to download</i></p>
        </div>
    </div>
    <div class="flex center">
        <% if (archives.length > 0)  { %>
            <% archives.forEach(file => { %>
                <div class="flex box" id="archive-box" onclick="window.open('<%= file[1]%>')">
                    <h2>
                        <a href="<%= file[1]%>"><%= file[0]%></a>
                    </h2>
                </div>
            <% }); %>
        <% } else { %>
            <div class="flex box" id="archive-box"">
                <h2>
                    <p>You don't have any archives yet...</p>
                </h2>
            </div>
        <%} %>
    </div>
</body>
</html>