<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <div class="flex center">
        <div>
            <h1>cheapstore</h1>
            <p>You're files have been backed up, go look at <a href="/archives">them</a>!
            </p>
        </div>
    </div>
</body>
</html>