<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storage Unit - success</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <%- include("../partials/nav"); %>
    <div class="flex center">
        <div>
            <h1>Storage Unit 🤑</h1>
            <p>You're files have been backed up, go look at them in your <a href="/archives">archive</a>!
            </p>
        </div>
    </div>
</body>
</html>